@page "/Cliente/Registro"
@using MercadonaBlazor2024.Client.Models.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json;
@inject IJSRuntime jsSvc
@inject IStorageService storageSvc
@inject IRestService restSvc

<div style="background-color: #006633;">
    <div class="container-fluid">
        <div class="row" style="height:100px;"></div>
        <div class="row">
            <div class="col">
                <img src="./images/formHeaderRegistro.png">
            </div>
        </div>
        <div class="row" style="background-color: #FFFFee;">
            <div class="col-8">
                <EditForm id="operarCliente" EditContext="this.formContext">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputNombre"><strong>*Nombre:</strong></label>
                                <input type="text" class="form-control" id="inputNombre" @bind="@this.clientelogged.Nombre">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputPrimApe"><strong>Primer Apellido:</strong></label>
                                <input type="text" class="form-control" id="inputPrimApe" @bind="@this.clientelogged.PrimerApellido">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputSecApe"><strong>Segundo Apellido:</strong></label>
                                <input type="text" class="form-control" id="inputSecApe" @bind="@this.clientelogged.SegundoApellido">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="dropdownTipoIdentif"><strong>Tipo Identificacion:</strong></label>
                                <select class="form-control" id="dropdownTipoIdentif" @bind="@this.clientelogged.TipoIdentificacionCliente.TipoId">
                                    <option selected value="NIF">NIF</option>
                                    <option value="CIF">CIF</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputIdentif"><strong>*Nº Identificacion:</strong></label>
                                <input type="text" class="form-control" id="inputIdentif" @bind="@this.clientelogged.TipoIdentificacionCliente.NumeroId">
                            </div>

                            <div class="form-group col-md-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Deseo recibir informacion comercial</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail"><strong>*Email/Usuario de acceso:</strong></label>
                                <input type="email" class="form-control" id="inputEmail" @bind="@this.clientelogged.CredencialesCliente.Email">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputConfEmail"><strong>*Confirmacion Email:</strong></label>
                                <input type="email" class="form-control" id="inputConfEmail" name="inputConfEmail">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputFecha"><strong>*Fecha de nacimiento:</strong></label>
                                <input type="date" class="form-control" id="inputFecha" @bind="@this.clientelogged.FechaNacimiento" min="1921-01-01" max="2021-12-31">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputPassword"><strong>*Contraseña:</strong></label>
                                <input type="password" class="form-control" id="inputPassword" @bind="@this.clientelogged.CredencialesCliente.Password">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputRePassword"><strong>*Confirmacion de contraseña:</strong></label>
                                <input type="password" class="form-control" id="inputRePassword">
                            </div>

                            <div class="form-group col-md-4">
                            </div>
                        </div>

                        <div class="row" style="height: 10px;"></div>

                        <!-- ============= fila contenedor para ALTA DE DIRECCIONES Y TELEFONOS ==============================================-->
                        <div style="border:0.1em solid #ff9900;padding-top: 5px; padding-bottom: 5px; background-color:#ffffcc">
                            <div class="row">
                                <div class="col-md-2"><label><strong>*Direccion/es:</strong></label></div>
                                <div class="col-md-4">
                                    <select id="direcciones" class="form-control">
                                        @if (this.clientelogged != null)
                                        {

                                            if (this.clientelogged.Direcciones.Count > 0)
                                            {
                                                foreach (KeyValuePair<string, Direccion> entry in this.clientelogged.Direcciones)
                                                {

                                                    <option value="@entry.Key">@entry.Value.NombreVia @entry.Value.Municipio.NombreMunicipio @entry.Value.CP</option>
                                                    
                                                }

                                            }
                                            else
                                            {
                                                <option selected>No se ha definido ninguna direccion</option>
                                            }


                                        }

                                      
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="button" id="botonAltaDirec" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="exampleModalLabel">ALTA</button>

                                    <!-- ==========================Formulario Modal Alta direcciones ========================== -->
                                    

                                    <div class="modal fade" id="formAltaDirec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <img src="~/images/formHeaderAltaDireccion.png">
                                                </div>

                                                <div class="modal-body" style="background-color: #FFFFee;">
                                                    

                                                    <EditForm Context="ejemplo2" id="altaTelefono222" >
                                                        <div class="row">
                                                            <div class="form-group col-2">
                                                                <label for="inputTipoVia" class="form-label"><strong>Tipo de via:</strong></label>
                                                                <select class="form-control" id="inputTipoVia" name="tipoVia">
                                                                    <option selected>Calle</option>
                                                                    <option value="avenida">Avenida</option>
                                                                    <option value="plaza">Plaza</option>
                                                                    <option value="carretera/autovia">Carretera/Autovia</option>
                                                                    <option value="poligono">Poligono</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-4">
                                                                <label for="inputNombreVia" class="form-label"><strong>*Nombre via:</strong></label>
                                                                <input type="text" class="form-control" id="inputNombreVia" name="nombreVia">
                                                            </div>
                                                            <div class="form-group col-3">
                                                                <label for="inputNumVia" class="form-label"><strong>Nº/Km:</strong></label>
                                                                <input type="text" class="form-control" id="inputNumVia" name="numeroVia">
                                                            </div>
                                                            <div class="form-group col-3">
                                                                <label for="inputPiso" class="form-label"><strong>Piso:</strong></label>
                                                                <input type="text" class="form-control" id="inputPiso" name="piso">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-2">
                                                                <label for="inputPuerta" class="form-label"><strong>Puerta:</strong></label>
                                                                <input type="text" class="form-control" id="inputPuerta" name="puerta">
                                                            </div>
                                                            <div class="form-group col-4">
                                                                <label for="inputBloque" class="form-label"><strong>Bloque:</strong></label>
                                                                <input type="text" class="form-control" id="inputBloque" name="bloque">
                                                            </div>
                                                            <div class="form-group col-3">
                                                                <label for="inputEscalera" class="form-label"><strong>Escalera:</strong></label>
                                                                <input type="text" class="form-control" id="inputEscalera" name="escalera">
                                                            </div>
                                                            <div class="form-group col-3">
                                                                <label for="inputUrbanizacion" class="form-label"><strong>Urbanizacion/Poligono:</strong></label>
                                                                <input type="text" class="form-control" id="inputUrbanizacion" name="urbanizacion">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-12">
                                                                <label for="inputObsevaciones" class="form-label"><strong>Observaciones(Texto de ayuda para localizar la direccion):</strong></label>
                                                                <input type="text" id="inputObservaciones" class="form-control" name="observaciones">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-4">
                                                                <label for="inputProvincia" class="form-label"><strong>Provincia</strong></label>
                                                                <select id="inputProvincia" name="codpro" class="form-control">
                                                                    <option value="0" selected>Elige provincia...</option>
                                                                    @{
                                                                        foreach (Provincia item in listaprovincias)
                                                                        {
                                                                            <option value="@item.CodPro">@item.NombreProvincia</option>

                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label for="inputLocalidad" class="form-label"><strong>Localidad</strong></label>
                                                                <select id="inputLocalidad" name="codmun" class="form-control" disabled>
                                                                    <option value="0" selected>Elige localidad...</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-2">
                                                                <label for="inputCP" class="form-label"><strong>Codigo Postal:</strong></label>
                                                                <input type="text" name="cp" class="form-control" id="inputCP">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-3">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="inputEsPrincipal" name="esprincipal">
                                                                    <label class="form-check-label" for="inputEsPrincipal">¿Es direccion de entrega habitual?</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-9"></div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-6"></div>
                                                            <div class="col-6">
                                                                <button type="button" id="botonAceptarDirec" class="btn btn-outline-success" data-dismiss="modal">ACEPTAR</button>
                                                                <button type="button" id="botonCierraModal" class="btn btn-outline-secondary">CANCELAR</button>
                                                            </div>
                                                        </div>
                                                    </EditForm>
                                                    <!-- ...aqui estaria el tag </form> ....-->
                                                </div>

                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ======================================================================================== -->
                                    <button type="button" id="botonModififcarDirec" class="btn btn-outline-success">MODIFICAR</button>
                                    <button type="button" id="botonBorrarDirec" class="btn btn-outline-success">BORRAR</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"><label><strong>*Telefonos:</strong></label></div>
                                <div class="col-md-4">
                                    <select id="telefonos" class="form-control">
                                        @if (this.clientelogged != null)
                                        {

                                            if (this.clientelogged.TelefonosContacto.Count > 0)
                                            {
                                                foreach (KeyValuePair<string, bool> entry in this.clientelogged.TelefonosContacto)
                                                {
                                                    <option value="@entry.Key">@entry.Key</option>
                                                  
                                                }

                                            }
                                            else
                                            {
                                            <option selected>No se ha definido ningun telefono</option>    
                                            }

                                        }
                                        </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="button" id="botonAltaTelef" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="exampleModalTelef">ALTA</button>

                                    <!-- ==========================Formulario Modal Alta Telefonos ========================== -->


                                    <div class="modal fade" id="formAltaTelef" tabindex="-1" role="dialog" aria-labelledby="exampleModalTelef" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <img src="~/images/formHeaderAltaTelefono.png">
                                                </div>

                                                <div class="modal-body" style="background-color: #FFFFee;">
                                                    <EditForm Context="ejemplo" id="altaTelefono">
                                                        <div class="row">

                                                            <div class="form-group col-6">
                                                                <label for="inputTelefono" class="form-label"><strong>*Telefono:</strong></label>
                                                                <input type="text" class="form-control" id="inputTelefono" name="numeroTlfno">
                                                            </div>
                                                            <div class="col-6"></div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-3">
                                                                <div class="form-check">
                                                                    <input type="checkbox" class="form-check-input" id="esTlfnoprincipal" name="esTlfnoprincipal">
                                                                    <label class="form-check-label" for="esprincipal">¿Es telefono habitual?</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-9"></div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-6"></div>
                                                            <div class="col-6">
                                                                <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="botonAceptarTlfno">ACEPTAR</button>
                                                                <button type="button" id="botonCierraModalTlfno" class="btn btn-outline-secondary">CANCELAR</button>
                                                            </div>
                                                        </div>
                                                    </EditForm> <!-- aqui iria el tag </form> de cierre del formulario nested de telefonos con los problemas q daba-->
                                                </div>

                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ======================================================================================== -->


                                    <button type="button" id="botonModififcarTelef" class="btn btn-outline-success">MODIFICAR</button>
                                    <button type="button" id="botonBorrarTelef" class="btn btn-outline-success">BORRAR</button>
                                </div>
                            </div>

                        </div>
                        <!-- ========================================================================================================================= -->

                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="dropdownFaltaProducto"><strong>En caso de falta de producto:</strong></label>
                                <select class="form-control" id="dropdownFaltaProducto">
                                    <option selected>Elija una opcion</option>
                                    <option>Sustituir por similar</option>
                                    <option>No servir</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4"></div>

                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkPolitica">
                                    <label class="form-check-label" for="checkPolitica">Acepto las condiciones generales y politica de confidencialidad</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-9"></div>
                            <div class="form-group col-3">
                                <button type="submit" id="btnEnviarAlta" class="btn btn-outline-success">ENVIAR ALTA</button>
                                <button type="button" class="btn btn-outline-secondary" onclick="javascript:window.location='https://localhost:44309/Cliente/Login'">CERRAR</button>
                            </div>
                        </div>

                    </div>
                </EditForm>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>

@code {

    public Cliente clientelogged { get; set; }

    public EditContext formContext { get; set; }

    public List<Provincia> listaprovincias { get; set; }

    protected override async Task OnInitializedAsync()

    {
        this.clientelogged = this.storageSvc.RecuperarDatosCliente();
        if (this.clientelogged == null)
        {
            this.clientelogged = new Cliente();
        }
        this.formContext = new EditContext(this.clientelogged);

        this.listaprovincias = await this.restSvc.RecuperarProvincias();


    }

}
